
@import '_constants';

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.text-small {
  font-size: $text-small;
}
.text-normal {
  font-size: $text-normal;
}
.text-large {
  font-size: $text-large;
}
.text-huge {
  font-size: $text-huge;
}

